aws==0.2.5
awscli>=1.29.61,<2.0.0
boto==2.49.0
boto3>=1.28.75,<1.32.0
graphviz==0.20.1
huggingface-hub==0.17.3
langchain==0.3.7
langsmith==0.0.43
numpy==1.24.4
pandas==2.0.3
pyarrow==14.0.1
requests==2.32.4
scikit-learn==1.5.0
scipy==1.10.1
sentence-transformers==2.2.2
sentencepiece==0.2.1
streamlit==1.37.0
streamlit-agraph==0.0.45
transformers==4.53.0
