--index-url https://download.pytorch.org/whl/cpu
--extra-index-url https://pypi.org/simple

torch==2.14.0+cpu

-f https://data.dgl.ai/wheels-internal/repo.html
dgl==2.2.1
boto3
joblib
graphstorm
pandas
pyarrow==25.0.1
scikit-learn
sentence-transformers